<%= form_for(resource, as: resource_name, url: user_session_path, 
	html: { id: 'login_user', class: 'login_user' }) do |f| %>
	<fieldset>
		<legend>Login</legend>

		<div class="row">
			<div class="small-3 columns">
				<%= f.label :email, class: "right inline" %>
			</div>
			<div class="small-9 columns">
				<%= f.email_field :email, placeholder: "Email", required: true %>
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<%= f.label :password, class: "right inline" %>	
			</div>
			<div class="small-9 columns">
				<%= f.password_field :password, placeholder: "Password", required: true %>
			</div>
		</div>

	    <% if devise_mapping.rememberable? -%>
	    <div class="row">
	    	<div class="small-4 small-offset-3 columns">
	    		<%= f.check_box :remember_me %>
	    		<%= f.label :remember_me, class: "right inline" %>
	    	</div>
	    </div>
	    <% end -%>

	    <%= f.submit "Sign in", class: "button small" %>
	</fieldset>
<% end %>