<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
	<fieldset>
		<legend>Register</legend>

		<%= devise_error_messages! %>

		<div class="row">
			<div class="small-3 columns">
				<label for="register_email" class="inline">Email</label>
			</div>
			<div class="small-9 columns">
				<%= f.email_field :email, placeholder: "Email", required: true, id: "register_email" %>
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label for="register_password" class="inline">Password</label>
			</div>
			<div class="small-9 columns">
				<%= f.password_field :password, placeholder: "Password", required: true, id: "register_password" %>
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<%= f.label :password_confirmation %>
			</div>
			<div class="small-9 columns">
				<%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true %>
			</div>
		</div>

	    <div><%= f.submit "Sign up", class: "button small" %></div>

	</fieldset>
<% end %>