<div class="row">
  <header class="small-12 small-centered columns" id="masthead">
   	<h1>ArZing</h1>
    <section>
    	<p>Track amongst friends who is zinging who to see who the ultimate zinger is</p>
    </section>
  </header>
</div>