<% unless user_signed_in? %>
    <%= render 'title' %>
    <div class="row">
      <section class="small-6 columns">
        <h2>What is ArZing?</h2>
        <p>It is this thing</p>
      </section>
      <section class="small-6 columns">
        <%= render 'static_pages/login' %>
        <%= render 'static_pages/register' %>
      </section>
    </div>
<%
=begin
%>
    <div class="row">
      <section class="small-12 columns example">
        <h2>Example</h2>
        <p>show it off</p>
      </section>
    </div>

    <div class="row">
      <section class="small-12 columns android">
        <h2>Android</h2>
        <p>and were mobile</p>
      </section>
    </div>
<%
=end
%>
<% else %>
    <%= render 'users/user_profile' %>
<% end %>