<%= render 'groups/header' %>
<div class='row'>
	<section class='small-12 columns'>
		<table>
			<tr>
				<th>Zinger</th>
				<th>Zinged</th>
				<th>Description</th>
			</tr>
			<% @zings.each do |zing| %>
				<tr>
					<td><%= zing.zing_for.username %></td>
					<td><%= zing.zing_against.username %></td>
					<td><%= zing.description %>  </td>
				</tr>
			<% end %>
		</table>
	</section>
</div>