<% provide(:title, 'Add a Zing') %>
<h2>Add a zing for <%= @group.name %></h2>
<%= form_for(@zing, url: group_zings_path) do |f| %>

    <%= f.label :zing_for %>
    <%= collection_select(:zing, :zing_for_id, @group.users, :id, :username) %>

    <%= f.label :zing_against %>
    <%= collection_select(:zing, :zing_against_id, @group.users, :id, :username) %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit 'Create' %>
<% end %>