<div class="row">
	<div class="small-12 columns centered">
		<header>
			<h2>Sign Up for ArZing</h2>
		</header>
	</div>
	<div class="small-12 columns">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>



		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <div><%= f.label :password_confirmation %><br />
		  <%= f.password_field :password_confirmation %></div>

		  <div><%= f.submit "Sign up" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>

