<div class="row">
  <header class="small-12 columns group-title">
    <h2><%= @group.name %></h2>
    <p><%= @group.description %></p>
    <p>Admin: <%= display_name(@group.admin) %></p>
    <% if @group.admin == current_user %>
      <%= link_to 'Edit Group', edit_group_path %>
      |
      <%= link_to 'Add Zing', new_group_zing_path(group_id: @group.id) %> |
    <% end %>
    <a href="#">Invite to Group</a> | 
    <%= link_to 'Leave group', leave_group_path, method: :patch %>
  </header>
</div>