<% provide(:title, "Edit " + @group.name) %>
<% @group.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
<h1> <%= @group.name %> </h1>
<%= form_for(@group) do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <hr />
  <p>change the admin of this group?</p>
  <%= collection_select(:group, :admin_id, @group.users, :id, :username) %>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>




<hr />
<p>Delete this group?</p>
<%= link_to "Delete Group", group_path, method: :delete %>
