<% provide(:title, 'Create new group') %>
<%= form_for(@group, url:groups_path) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, required: true %>

    <%= f.label :description %>
    <%= f.text_area :description, required: true %>

    <%= f.submit 'Create' %>
<% end %>