<% provide(:title, @group.name) %>
<%= render 'header' %>
<div class="row">
  <section class="small-12 columns user-list">
    <table>
      <tr>
        <th>Position</th>
        <th>Change</th>
        <th>User</th>
        <th>Zings</th>
        <th>Times Zinged</th>
        <th>Difference</th>
        <% if current_user == @group.admin %>
        <th>Admin</th>
        <% end %>
      </tr>
      <% counter = 1 %>
      <% @group.users.each do |user| %>
          <% index = counter - 1 %>
          <tr>
            <td><%= counter %></td>
            <%= render 'shared/position_change', group: @group, index: index, counter: counter %>
            <td><%= link_to user.username, list_group_zing_path(group_id: @group.id, id: user.id) %></td>
            <td><%= @group.rankings[index].zings_for %></td>
            <td><%= @group.rankings[index].zings_against %></td>
            <td><%= @group.rankings[index].points %></td>
            <% if current_user == @group.admin %>
                <td><%= link_to 'Remove user', remove_user_group_path(id: @group.id, user: user.id), method: :patch  %></td>
            <% end %>
          </tr>
          <% counter += 1 %>
      <% end %>
    </table>
  </section>
</div>