<div class="row">
  <section class="small-12 columns user-info">
    <header class="centered user-info-header" id="masthead">
      <%= link_to gravatar_for(current_user, size: 150), root_path, class: "small-3 columns", id: "first" %>
      <div id="second">
        <h2 class="user-title small-9 columns">
        <%= display_name(current_user) %>
        </h2>

        <%= link_to 'Edit Profile', edit_user_registration_path %>
        <%= link_to 'New Group', new_group_path %>
      </div>
      
    </header>
  </section>
</div>