<div class="row">
  <section class="small-12 columns">
    <% if current_user.groups.any? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Position</th>
          <th>Change</th>
        </tr>
        <% current_user.groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group_path(group.id) %></td>
          <% index = group.rankings.index { |user| user.user_id == current_user.id } %>
          <td><%= group.rankings[index].points %></td>
          <td><%= group.users.index { |a| a.id == current_user.id } + 1 %></td>
          <%= render 'shared/position_change', group: group, index: index, counter: index + 1 %>
        <% end %>
        </tr>
      </table>
    <% else %>
      <p>You do not belong to any groups, consider making one</p>
    <% end %>
  </section>
</div>