<% if user_signed_in? %>
<div class="row">
	<section class="small-4 columns right small-offset-8">
		<ul class="inline-list right">
			<li><%= link_to "Profile", root_path %></li>
			<li>|
			<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
		</ul>
		

	</section>
</div>
<% end %>