<% change_text = '' %>
<% if group.rankings[index].last_position.nil? %>
    <td> - </td>
<% else %>
    <% change = group.rankings[index].last_position - counter %>
    <% if change == 0 %>
        <% change_text = '-' %>
    <% elsif change > 0 %>
        <% change_text = '+' + change.to_s %>
    <% else %>
        <% change_text = change.to_s %>
    <% end %>
    <td><%= change_text %></td>
<% end %>