<div class="row">
	<div class="small-12 columns centered">
		<header>
			<h2>Login to ArZing</h2>
		</header>
		<% unless flash.empty? %>
		<section data-alert class="alert-box alert">
			<%- flash.each do |name, msg| -%>
		      <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert" if msg.is_a?(String) %>
		  	<%- end -%>
		</section>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns contered">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		  <div class="row">
		  	<div class="small-2 columns">
		  		<%= f.check_box :remember_me, class: "inline" %>
	    		<%= f.label :remember_me, class: "right inline" %>
		  	</div>
		  </div>
		  <% end -%>

		  <div><%= f.submit "Sign in", class: "button large" %></div>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>

