/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

.login_user {
 	padding-bottom: 0;
 	margin-bottom: 0;
 }

.login_user fieldset {
 	padding-bottom: 0;
 	margin-bottom: 0;
 }

 .new_user fieldset {
 	padding-bottom: 0;
 	margin-bottom: 0;
 }

 .centered {
 	text-align: center;
 }

 .user-title {
 	font-family: "Lucida Console", "Courier New", monospace;
 }