<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "ArZing" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% unless flash.empty? %>
      <%- flash.each do |name, msg| -%>  
          <% if name == :non_form_error %>
            <section data-alert class="alert-box alert">
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </section>
          <% elsif name == :success %>
            <section data-alert class='alert-box success'>
              <%= content_tag :div, msg %>
            </section>
          <% end %>
      <%- end -%>
    <% end %>

    <%= render 'shared/header' %>
    <%= yield %>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
